<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
</head>
<body>
    <div>
        <h1>Hello FastAPI</h1>
        <p>오늘의 운세 : {{ fortuneToday }}</p>
        <p>나의 이름 : 신 준 한</p>
        <h2>공지사항3</h2>
        <ul>
            <li>불금입니다</li>
            <li>남은 시간 화이팅!</li>
            <li>곧 주말입니다</li>
            <li>주말에는 푹 쉽시다!</li>
        </ul>
    </div>
</body>
</html>